* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background: repeating-linear-gradient(#00b327, #02ff41, #8eff8d 2%);
    font-family: "crossorigin";
    width: 100%;
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 20rem;
    background-color: #fff;
    margin: 3rem 0;
    padding: 1em 1em;
    border-radius: 10px;
    box-shadow: -5px 5px 30px #000;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

img {
    width: 18rem;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelPlace {
    border: 1px solid #000;
    padding: 8px 10px;
    margin: 0.2em;
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
}

.inputValue {
    border: none;
    outline: none;
    height: 2rem;
    width: 50%;
    font-size: 1.5rem;
    text-align: right;
}

.inputButton {
    border: 1px solid #000;
    padding: 8px 10px;
    margin: 0.2em;
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
}

.inputButton:hover {
    width: 102%;
    transition: 0,5s;
    border: 2px solid #ff2626;
}

.inputButton:focus {
    width: 102%;
    transition: 0,5s;
    border: 2px solid #ff2626;
}

footer {
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 1.5rem;
}